airflow-provider-great-expectations==0.2.4
apache-airflow
apache-airflow-providers-common-sql
apache-airflow-providers-oracle
apache-airflow-providers-oracle[common.sql]
apache-airflow-providers-postgres==2.3.0
apache-airflow-providers-sftp
apache-airflow-providers-slack
apache-airflow[postgres]
apache-airflow[ssh]
beautifulsoup4
cerberus
connectorx
cron-descriptor
cx_oracle==8.2.1
dask[dataframe]
fpdf
freezegun
fsspec
google-api-python-client
google-auth-oauthlib
great_expectations==0.15.44
isoparser
mastercard-oauth1-signer
mock
moto
multiprocess
openpyxl
oracledb
paramiko==2.8.1
polars
pyarrow
pyexcel_xlsx
pyexcel-ods
pyminizip
pypdf2
pyshorteners
pytest
pytest-cov
python-dotenv
requests_ntlm
s3fs
slack-sdk==3.19.4
smart_open
sqlparse
virtualenv==20.16.6
xmlschema
xsdata
psycopg2-binary==2.9.6
plotly
kaleido
zenpy
awscli